.img {
  margin-top: 5px;
  width: 150px;
  height: 100px;
}
.card {
  display: relative;
  background-color: tomato;
  /* justify-content: center; */
  position: relative;
  font-size: 10px;
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}
h3 {
  margin-top: 1rem;
}
