.cardsConteiner {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  display: grid;
  position: relative;
  justify-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #478282;
  margin-top: 15px;
  margin-bottom: 15px;
}
body {
  height: 100%;
  width: 100%;
}
