.paginado {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  list-style-type: none;
  background-color: transparent;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.numbers {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-inline-end: 0.4%;
  padding-left: 0.3em;
  margin: 0.5em;

  border: solid black 1px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(85, 80, 79, 0.368);
  min-width: 1em;
}
.numberActual {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-inline-end: 0.4%;
  padding-left: 0.3em;
  margin: 0.5em;
  min-width: 1em;
  border: solid black 1px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(223, 223, 233, 0.483);
}
.numberActual:hover{
  background-color: rgba(85, 80, 79, 0.368);
  color: rgb(255, 255, 255);
  text-shadow: black 4px;
}
.numbers:hover {
  background-color: rgba(85, 80, 79, 0.368);
  color: rgb(255, 255, 255);
  text-shadow: black 4px;
}
.arrow{
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-inline-end: 0.4%;
  padding-left: 0.3em;
  margin: 0.5em;
text-align: center;
  border: solid black 1px;
  text-align: center;
  border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(85, 80, 79, 0.368);
  
}
.arrowTransparent{
color:rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  padding-inline-end: 0.4%;
  padding-left: 0.3em;
  margin: 0.5em;
text-align: center;
  border: solid rgba(0, 0, 0, 0) 1px;
  text-align: center;
  border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(85, 80, 79, 0);
}